doctype html
html(lang="en")
  head
    include ../partials/head.jade
    block headtitle
      title Homepage
  body
    block nav
      include ../partials/nav-en.jade

    block content
      .container
        h1 Post Template

    block footer
      include ../partials/footer-en.jade